.titolo-h1 {
    letter-spacing: 0.4em;
    text-orientation: upright;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 0.6em;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--clr-primary);
    opacity: 40%;
}

.prepartita {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 50;
    text-align: center;
    padding: 3rem 0;
}

.prepartita h1 {
    font-size: 10rem;
}

.prepartita h2 {
    font-size: 2.2rem;
    padding: 0 7rem;
}

.prepartita p {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 15rem;
}

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.isImprevisto {
    text-align: center;
    font-family: "Special Elite", Verdana, sans-serif;
    font-size: 3rem;
    /* color: #b31217; */
    color: var(--clr-primary);
}

.sendButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    z-index: 100;
    border-radius: 50%;
    padding: 1.5rem;
}

.sendButton svg {
    font-size: 5rem;
}

.sendButton:hover,
.welcomeScreenBtn:hover {
    color: var(--clr-primary);
    background-color: rgba(128, 128, 128, 0.4);
    transition: var(--btn-transition);
}

.welcomeScreenBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: --transition;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.welcomeScreenBtn svg {
    font-size: 8rem;
    color: var(--clr-primary);
    margin: 2.5rem;
}

.estrazione-extra {
    width: 50%;
    height: 8rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
.estrazione-extra input::-webkit-outer-spin-button,
.estrazione-extra input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.estrazione-extra input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#input-estrazione-giocatore {
    flex-basis: auto;
}

.estrazione-extra svg {
    cursor: pointer;
    flex-basis: auto;
}

.estrazione-extra:hover,
.estrazione-extra:focus {
    border-color: var(--clr-primary);
}

.estrazione-extra:hover svg {
    color: var(--clr-primary);
}

.tshirt {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0.5rem 2rem;
    flex-basis: 30%
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.tshirt span {
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
    color: #efefef;
    text-shadow: 1px 1px 3px #333;
    margin-bottom: 1.5rem;
    position: relative;
}

.migliorePeggioreContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .prepartita h2 {
        padding: 0 3rem;
        font-size: 1.5rem;
    }
    .prepartita p {
        padding: 0 4rem;
    }
    .sendButton {
        position: static;
        padding: 0;
        left: 50%;
        bottom: 10%;
    }

    .sendButton:hover {
        background-color: transparent;
    }
    .estrazione-extra {
        width: 85%;
        height: 10rem;
        padding: 0.5rem;
        justify-content: space-between;
    }
    .tshirt span {
        margin-top: 0.8rem;
    }
}
