.main {
    width: 100%;
    height: 90vh;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.container {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerBis {
    height: 30%;
    margin-top: 1rem;
}

.riquadro {
    width: 100%;
    height: 100%;
    margin: 0 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    filter: grayscale(100%);
    color: #efefef;
}

.riquadro:hover {
    transform: scale(105%);
    transition: var(--transition);
    filter: grayscale(0);
    color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
}


.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 3px 3px #222;
    text-align: center;
}

.links{
    padding: 5rem 0;
    z-index: 100;
    color: #efefef;
}

.overlay h1 {
    font-size: 3rem;

}

.overlay h2 {
    font-size: 1.8rem;
}

.riquadro:hover h1,
.riquadro:hover h2 {
    color: var(--clr-primary);
}

.riquadro video {
    height: 100%;
    width: auto;
}

.riquadro video[poster] {
    object-fit: cover;
}

.logo-team {
    width: auto;
    height: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coppa {
    width: auto;
    height: 15rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .3;
}

.siamoTornati {
    width: auto;
    height: 10rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2rem;
    z-index: 200;
    transform: rotate(10deg);
}

.siamoTornati img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .overlay h1 {
        font-size: 2.1rem;
    }
    
    .overlay h2 {
        font-size: 1.2rem;
    }

    .riquadro {
        margin: 0.8rem;
    }

    .logo-team{
        height: 5rem;
    }

    .coppa {
        display: none;
    }

    .siamoTornati {
        display: none;
    }
}
