.container--reg {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.container--reg a:hover {
    color: var(--clr-primary);
}

.container--reg > a > svg {
    font-size: 4rem;
}

.subtext {
    font-size: 1rem;
}
