.bgContainer {
    width: 100%;
    opacity: 30%;
}

.bgContainer .rotate {
    height: 100%;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    overflow: hidden;
}

.bgContainer .rotate img {
    -webkit-animation: rotate-center 150s linear infinite;
    animation: rotate-center 150s linear infinite;
}

.bgContainer .imgLogo {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
