.footer {
    width: 100%;
    height: auto;
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
    position: fixed;
    bottom: 0;
    z-index: 10;
}