@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-prim: #149dcc;
  --clr-sec: #fcc90d;
  --clr-ter: #105442;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: #eeeeee;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tshirt estrazione */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

/* IMPREVISTO TIMBRO */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

/* Imprevisti della Community - Testo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/* Titoli H1 */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

h1 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
  font-weight: 700;
  text-transform: uppercase;
}

.t-dOnDMp {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 25vw;
  height: 60vh;
  border: 0.3rem solid var(--clr-prim);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

.c-bOcPnF-cmFMMs-color-primary {
  background-color: var(--clr-prim) !important;
  border-color: var(--clr-prim) !important;
}

@media screen and (max-width: 767px) {
  .t-dOnDMp {
    width: 75vw;
    height: 70vh;
  }
}
